@import './NetflixCarousel.scss';
@import '../../App.scss';

$border-icon: 0.1rem solid rgb(170, 168, 168);
$border-icon-hover: 0.1rem solid white;

.imgMovieCardDiv{
    position:relative;
    font-size: 0.5rem;
    background-color: $background-color;
    transition: 1s;
    height: fit-content;
    width: fit-content;

    .imgMovieCard{     
        display: flex;
        flex-direction: column;       
        justify-content: start;
        align-items: start;
        margin-left: 0.4rem;
        border-radius: 0.2rem;
        width: 15rem !important;
        height: $height-card;
        transition: 1s;
    }
    
    .infoCard{
        width: 15rem;
        height: 0;
        opacity: 0;
        transition: 1s;
    }
}

.imgMovieCard:hover{
    width: 20rem !important;
    height: 20rem;
    transition: 1s;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
}
.imgMovieCard:hover~.infoCard{
    height: fit-content;
    width: 20rem;
    opacity: 1;
    transition: 1s;
}


.iconFirstLine {
    i{
        margin: 0.8rem;
    }
    .lastIcon{
        margin: 0.8rem 0;
        margin-left: auto; 
        margin-right: 0;
        border:$border-icon;
    }
    .containerIcon{
        width: fit-content;
        height: fit-content;
        border-radius: 100%;
        -moz-border-radius: 100%; 
        -webkit-border-radius: 100%;
        cursor: pointer;
        font-size: 1rem;
        
    }
    .normalIcon{
        border: $border-icon;
        margin: 0.8rem 0.2rem;
        color:rgb(170, 168, 168);
    }
    .normalIcon:hover, .lastIcon:hover{
        border: $border-icon-hover;
        color:white;
    }
    .playIcon{
        margin: 0.8rem 0.2rem;
        background-color: rgb(170, 168, 168);
        i{
            color: black;
        }

        &:hover{
            background-color: rgb(113, 112, 112);
        }
    }
}

.secondLine{
    color:rgb(227, 227, 227);
    align-items: center;
    justify-content: start;
    h4{
        color:green;
        font-size: 0.8rem;
        margin: 0.2rem;
        padding: 0.3rem;
    }
    h5{
        font-size: 0.8rem;
        margin: 0.2rem;
        padding: 0.3rem;
    }
    p{
        margin: 0.2rem;
        padding: 0.3rem;
        font-size: 0.7rem;
        border: 0.05rem solid rgb(227, 227, 227);
    }
}

.separatorCategory::before{
    content: "\2022";
    color: #646464;
    display: inline-block;
    font-size: 1vw;
    line-height:1.3;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center
}

.thirdLine{
    display: flex;
    align-items: center;
    justify-content: start;
    p{
        margin: 0.5rem;
        font-size: 0.8rem;
        color:rgb(227, 227, 227);
    }
}

.forthLine{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
    color: white;
    .likeNetflix{
        background-color: red;
        border-radius: 0.1rem;
        width: fit-content;
        i{
            font-size: 1rem;
            margin: 0;
            padding: 0.3rem;
        }
    }
    p{
        margin: 0 0.4rem;
        font-size: 0.8rem;
        
    }
    
}

