
* {
    margin: 0;
}
body{
    background-color: rgb(20, 20, 20);
}
.maxSizeLogo{
    width: 10%;
    height: 10%;
}



.navBarStick{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    background-image:
        linear-gradient(to top, rgb(black, 0), rgb(20,20,20, 1));
    &-normal{
        background-image:
            linear-gradient(to top, rgb(black, 0), rgb(20,20,20, 1));
        background-color: rgb(20,20,20,1);
        transition: all 0.5s ease-in-out;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}

.subMenu{
    margin-left: 2rem;
    position: relative;
    z-index: 2;
}