* {
    margin: 0;
}

.maxSizeLogo{
    width: 10%;
    height: 10%;
}



.navBarStick{
    background: linear-gradient(to bottom,rgb(0,0,0,0.8), rgb(0,0,0,0));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}