.buttonMovieTrailer button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    width: fit-content;
    font-size: 1.4rem;
    font-weight:500;
    img{
        width: 2rem;
        height: 2rem;
    }
    &:hover{
        background-color: rgba(255,255,255,0.75);
        transition: 0.1s;
    }
}

.dark{
    background-color: rgba(109,109,110,0.7);
    color:white;
    &:hover{
        background-color: rgb(50, 50, 50) !important;
        transition: 0.1s;
    }
    img{
        filter: invert(100%);
    }
}