
.bg_movie{
    position: relative;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to left, rgb(black, 0), rgb(20,20,20, 1)),
        linear-gradient(to top, rgb(black, 0) 80%, rgb(20,20,20, 1)),
        linear-gradient(to bottom, rgb(black, 0), rgb(20,20,20, 1)),
        url('https://occ-0-5428-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeMkA3Kp42bczsQ9y0aJuvLRdtFEPQRw5FJkXDNmQsUMBSloGaKxczcnnnXJ0Ke9QB1dB1dNn9mbhTDdHfD08xpuimBF.webp?r=310');
    background-size: cover;
}
.trailerVideo{
    &-true{
        object-fit: cover;
        margin: auto;
        position: absolute;
        box-shadow: 0 2rem 2rem rgba(black,1);
        overflow: hidden;
        width: 100%;
        height: 60rem;
        opacity: 0;
        transition: 0.3s;
    }
    &-false{
        object-fit: cover;
        margin-top: -2rem;
        position: absolute;
        border: 0.2rem solid rgb(20,20,20,0.1);
        box-shadow: 2rem 2rem rgb(20,20,20,1);
        overflow: hidden;
        width: 100%;
        height: 60rem;
        transition: 0.3s;
    }
}

.movie_trailer_details{
    position: relative;
    margin: 2rem;
    max-width: 35rem;
    z-index: 1;
}

.titleMovieTrailer{
    position: relative;
    top: 2rem;
    width: 40rem;
    margin-bottom: 2rem;
}

.subtitleMenuTrailer{
    margin-top:1rem;
    z-index: -2;
    svg{
        width: 2.5rem;
        height: 2.5rem;
    }
    h5{
        text-shadow: 2px 2px rgb(black, 0.6);
        font-size: 1.8rem;
    }
}

.descriptionMovieTrailer{
    color:white;
    margin-top: 2rem;
    font-size: 1.4rem;
    word-spacing: 0.5rem;
    text-shadow: 2px 2px rgb(black, 0.6);
}