.selectionsBar{
    background-color: rgb(black, 0.5);
    display: flex;
    position:relative;
    width: 100%;
    height: 20rem;
    text-align: center;
    text-decoration: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none; 
    }
    .selectionCard{
        scroll-snap-align: start;
    }
}
.imgSelection{
    position: relative;
    width: 8rem;
    height: 15rem;
}

.selectionActive{
    border: 1px solid rgb(255, 255, 255, 0.2);
    background-color: rgb(gray, 0.2);
    .targetPictureSelection .buttonOption{
        filter: invert(100%);
        opacity: 1;
        transition: 0.4s;
        &:hover{
            opacity: 0.5;
            transition: 0.2s;
        }
    }
}

.targetPictureSelection{
    .buttonOption{
        padding: 0.4rem;
        border-radius: 1rem;
        width: 3rem;
        height: 3rem;
        margin: 0.3rem;
        margin-top: 4rem;
        opacity: 0;
        transition: ease-in-out 0.2s;
        &:focus{
            outline: 4px solid #fff;
        }
    }
}
.titleSection{
    position: relative;
    
}

.blockImgSelection{
    align-items: center;
}

.selectionCard{
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}

.spanOptions{
    position: relative;
    .moreInfoMovie{
        background-color: black;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        bottom: 1.5rem;
        left: 3rem;
        z-index: 2;
        width: 20rem;
        height: 12rem;
        img{
            width: 100%;
            border-radius: 0;
            height: 8rem;
        }
        .titleCard{
            color:white;
            
        }
    }
}