*{
    i{
        color: white;
        position:relative;
        margin: 1rem;
    }
    span{
        color: white;
    }
    .iconNotification{
        position: relative;
        font-size: 0.8rem;
        left: 2.5rem;
        bottom: 0.5rem;
        z-index: 1;
        border-radius: 100%;
        background-color: red;
    }

    .profilePicture{
        max-width: 2rem;
        border-radius: 0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin: 0.4rem;
    }
}

.secondNav{
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
}

.profilesMenu:hover .iconProfile{
    transition: 0.2s;
    transform: rotate(180deg);
    rotate: 120px;
  } 
.iconProfile{
  transition:0.5s;
}
  


  .menuDropHoverNotification{
    position:absolute;
    margin: 0;
    right: 6rem;
  }

  .contentNotification{
      right: 6rem;
      height: 40rem;
      overflow:auto;
  }

  .card-body{
    margin-top: 1rem;
    padding:0;
  }

  .singleNotification{
      background-color: rgba(black, 0.3);
      cursor: pointer;
      border-top: 0.1rem solid rgb(58, 58, 58); 
      color:rgb(199, 199, 199);
      width: 30rem;
      img{
        border-radius: 0.2rem;
        margin: 1rem 0;
        width: 10rem;
        height: 5rem;
      }
      &:hover{
        background-color: rgba(black, 0.5);
        color:white;
      }
  }

  .arrowNotificacion{
    position: relative;
    left: 28.7rem;
    color: white;
  }

  .otherProfilesImg{
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 0.3rem;
  }

  .singleUser{
    background-color: rgba(black, 0.3);
    cursor: pointer;
    color:rgb(199, 199, 199);
    width: 13rem;
    &:hover{
      background-color: rgba(black, 0.5);
      color:white;
    }
  }

  .menuDropHoverProfiles{
    position:absolute;
    font-size: 0.9rem;
    margin: 0;
    right: 3rem;
  }

  .contentProfiles{
      right: 7rem;
      overflow:auto;
      border-bottom: 1px solid gray;
  }

  .arrowProfiles{
    position: relative;
    left: 11.7rem;
    color: white;
  }