progress{
        position: relative;
        height: 2px;  
        width: 100%;
        background: gray;
        
}

progress::-webkit-progress-value{
        background: rgb(63, 63, 63);
}

progress::-moz-progress-bar{
        background: rgb(63, 63, 63);
}